{% extends "pcl/base_no_title.html" %}


{% block navbar_what %}about{% endblock %}




{% block content %}


<div id="" style="padding-left: -50px; " class="span9">


    <ul class="nav nav-tabs">

    <li class="active"><a href="/general/about/">About</a></li>
    <li><a href="/general/tos/">Terms of Use</a></li>
    <li><a href="/general/privacy/">Privacy Policy</a></li>
    </ul>

</div>



<div class="row" style="padding-left: 40px; padding-top: 70px; " >

<div style="padding-top: 0px; ">

<div class="row">

<div class="span8"><div style="padding-top: 0px; padding-left: 45px; padding-right: 50px; ">

<a href="http://patientschecklist.com">Patientschecklist.com</a> strives to help patients empower themselves. We believe the best
person to provide you with answers to your questions is your own physician.  The founders 
of <a href="http://patientschecklist.com">Patientschecklist.com</a> are two average guys that realized healthcare can be made better 
in simple, yet effective ways. We have a team of nurses, nurse practitioners, and physician specialists 
who contribute questions to our database. We also hope you will share your 
experiences with your fellow users on our <a href="/forum/">forum</a>, or by adding your own questions and 
sharing them with us. If you had a bad experience, help others avoid those same pitfalls. 
<br/><br/>
We are all patients at some point in our lives: let’s make healthcare better together.

</div></div></div>


<div class="row">

	<div class="span8">
		<div style="padding-top: 40px; padding-left: 45px; padding-right: 50px; ">
		<img src="/files/img/logo_apercu_new.png">
		<br/><br/>
		<b>Aperçu Inc.</b>
		<br/><br/>
		Aperçu Inc. owns the website <a href="http://patientschecklist.com">Patientschecklist.com</a>. Our goal is to create products that are straightforward and easy-to-use that will help enhance the average person's experience with healthcare. We believe in equal access to quality healthcare, and that by being a better informed patient, everyone involved will benefit.
	
		<br/><br/><br/><br/><br/><br/><br/>
	
		</div>
		
	</div>
</div>
    
    
</div>
</div>
{% endblock %}    

